<div id="ff_badges_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Congratulations! You have earned badge.</h3>
  </div>
  <div class="modal-body">
    <h4><%= @ff_badge.name %></h4>
    <p><%= image_tag @ff_badge.icon.url(:big) %><%= @ff_badge.message %></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>