<div class="row" id="flash_container">
  <div class="span12">
    <% if alert %>
      <div class="alert alert-error"><%= alert %></div>
    <% elsif notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
  </div>
</div>
