<h1>Congratulations, you have earned <%= @badge.name -%> badge!</h1>

<p>
  <%= image_tag asset_path(@badge.icon.url(:medium)) %>
  <%= @badge.message %>
</p>

<p>
  You have earned <strong><%= pluralize @badge.points, 'point' -%></strong>.
</p>